html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
}

* {
  box-sizing: border-box;
}

body.light {
  font-size: 14px;

  [ver-align='middle'] {
    display: flex;
    align-items: center;
  }

  [hoz-align='right'] {
    margin-left: auto !important;
    ~ [hoz-align='right'] {
      margin-left: initial !important;
    }
  }

  button {
    border: none;
    border-radius: 4px;
    display: flex;
    align-items: center;
    column-gap: 8px;

    &:not(:disabled) {
      cursor: pointer;
    }

    &[bt-type='secondary'] {
      background-color: coral;
      color: #111;
      padding: 8px 16px;
    }

    &[bt-type='primary'] {
      background-color: #1373e8;
      color: white;
      padding: 8px 16px;
    }

    &[bt-type='normal'] {
      background-color: #ddd;
      color: black;
      padding: 8px 16px;
    }

    &:disabled {
      background-color: gray;
    }
  }

  input:not([type='checkbox']) {
    display: flex;
    padding: 0;
    min-height: 38px;
    width: 100%;
    border-radius: 4px;
    border: none;
    background-color: #eee;
    outline: none;
    box-sizing: border-box;

    padding: 2px 8px;

    &:focus {
      outline: 2px solid #2684ff;
    }

    &:disabled {
      background-color: transparent;
    }

    &:global {
      &.error {
        outline: 2px solid crimson;
      }
    }
  }

  textarea {
    min-height: 64px;
    border-radius: 4px;
    border: none;
    background-color: #eee;

    &:disabled {
      background-color: transparent;
    }
  }

  input,
  textarea {
    &.error {
      outline: 2px solid crimson;
    }
  }

  .root {
    font-family: 'Roboto', sans-serif;
    height: 100%;
    min-width: 900px;
  }
}

// override
body.light {
  .ag-popup > * {
    z-index: 9999;
  }

  .ag-theme-alpine {
    --ag-background-color: transparent;
    --ag-header-background-color: transparent;
    --ag-secondary-border-color: #ddd;
    --ag-border-color: #ddd;
    --ag-alpine-active-color: orange;
    --ag-selected-row-background-color: rgba(243, 114, 33, 0.3);
    --ag-input-focus-border-color: rgba(243, 114, 33, 0.3);
    .ag-menu {
      border-radius: 8px;
    }
  }
}
